<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="attendance" href="/tabs/attendance">
      <ion-icon aria-hidden="true" name="time-outline"></ion-icon>
      <ion-label>Attendance</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tasks" href="/tabs/attendance">
      <ion-icon aria-hidden="true" name="reader-outline"></ion-icon>
      <ion-label>Tasks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <i class='bx bx-note' style="font-size: 24px;"></i>
      <ion-label>Notes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" (click)="logout()">
      <ion-icon name="power-outline"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
